# Bloqueia acesso direto ao config.php e gerar-senha.php
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>

<Files "gerar-senha.php">
    Order allow,deny
    Deny from all
</Files>
