Options -MultiViews
RewriteEngine On
RewriteBase /

# Redireciona HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Se o arquivo ou diretório existir, serve diretamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tudo o mais vai para o index.html (roteamento client-side)
RewriteRule ^ index.html [L]
